<p>Hello, dear {{ user.username }}.</p>
<p>
  What happened? Did you again forgot your password, didn't you?
</p>
<p>
    Well, don't worry. You can reset it just by following this link
    <a style='text-align: center; padding:10px; background-color: blue; color: gray;' href="{{ url_for('reset_password', token=token, _external=True) }}">
        Click me to reset!
    </a>.
</p>
<p>Or past this string into browser's search input</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>
<p>If you didn't request this email, just close it & forgot.</p>
<p>All the best, </p>
<p>Microblog super team</p>